<h1>Hello!</h1>

<p>Before you can access Github Contributors Gallery, you need to authenticate this app with GitHub.</p>

<a {{bind-attr href=githubAuthenticationUrl}}>
    <button>Authenticate With GitHub</button>
</a>
